/* h1{
  text-align:center;
  background-color:darkred;
  border-radius:25px;
  margin-left:400px;
  margin-right:400px;
}
body{
  
  color:aqua;
}
p{
  margin-left:400px;
  margin-right:400px;
  text-align:center;
  background-color:brown;
} */





