/* Reset and base styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'helvetica neue';
}

/* Ensure full viewport coverage */
html,
body {
    height: 100%;
    width: 100%;
}