/* Reset and base styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'helvetica neue';
    background-color:black;
    color:white;
}

/* Ensure full viewport coverage */
html,
body {
    height: 100%;
    width: 100%;
}
button{
  padding:20px 30px;
  margin:10px;
  background-color: gray;
  border-radius:10px;
  cursor:pointer;
}
h1{
  padding:10px 90px;
  margin:10px;
  font-size:100px;
  background-color:rgb(119,119,119);
  border-radius:5px;
  width:fit-content;
}
